.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.tab-content > .active,
.pill-content > .active {
  height: auto;
}

.blockFlex{
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}
.titleblock{
  flex: 1 1 50%;
  width: 100%;
}
#showMHHlayer{
  flex: 1 1 50%;
  width: 100%;

}
#headerCustomButtons {
    margin-right: 15px;
    margin-left: 15px;
    width: 800px
}

#app-content-wrapper #app-content {
  height: 100%;
  /*padding-top: 60px;*/
  /*padding-bottom: 50px;*/
}

#inner-app-content {
  padding: 0;
}

#app-actions {
  display: none;
}

#map {
  height: 100%;
}

#graph {
    height: 100%;
}

#obsgraph, #obsgraphStations {
    height: 100%;
}

#obsgraph .modal-body, #obsgraphStations .modal-body {
  height: 100%;
  border-radius: 0;
}

.form-group {
    margin-bottom: 0;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}

.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#overview {
    font-size: 15pt;
    padding: 0 20px 0 20px;
}

#about .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

#about .modal-body {
  height: 100%;
  border-radius: 0;
}

#graph .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

#obsgraph .modal-dialog, #obsgraphStations .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}

.hidden {
  display: none;
}

.obslogos {
    width: 40%;
    padding: 0 5px 0 5px;
}

#mytable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mytable td,
#mytable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mytable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #585757;
  color: white;
}
#dates{
  display: none;
}
